# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/EVERLASTING
/3RD
/Bin
/Everlasting/x64
/Everlasting/Everlasting.aps
/Lib
/OSG
/Out/Everlasting
/Data/Core/Models/Background.fbm
/Data/Core/Models/MIGI.fbm
/Out
/Data/Core/Models/MIGI.bck
